@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  list-style: none;
  background-color: rgb(49 46 129 / 1); /* bg-indigo-900 */
  color: rgb(243 244 246 /1); /* text-gray-100 */
}
