.react-datepicker__input-container input {
  background-image: url('../../public/calendar.svg');
  background-repeat: no-repeat;
  background-position: 10px 7px;
  background-size: 20px;
  padding-left: 35px;
}

.react-datepicker__close-icon::after {
  background-color: rgb(79, 74, 206) !important;
}
